/* === Corrige transparencia del calendario dentro del modal === */
.cdk-overlay-container, 
.cdk-overlay-pane {
  z-index: 10000 !important; /* asegura que se vea encima del modal */
}

.mat-datepicker-content {
  background-color: #ffffff !important; /* fondo blanco sólido */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* un poco de sombra */
  border-radius: 8px !important;
}

.mat-calendar {
  background-color: #ffffff !important; /* fondo completo del calendario */
  color: #111827; /* texto oscuro */
}

.mat-calendar-body-cell-content {
  color: #111827;
}

.mat-calendar-body-selected {
  background-color: #00a1a1 !important;
  color: #ffffff !important;
}
